$primary: #DA1B27;
$faint: #F5F2F2;
$lightBlue: #D1EBFB;
$blue: #2251A3;
$secondary: #B3B1B1;

$theme-colors: (
    "primary": $primary,
    "faint": $faint,
    "lightBlue": $lightBlue,
    "blue": $blue,
    secondary: $secondary
);

@import "../node_modules/bootstrap/scss/bootstrap";