@font-face {
  font-family: enercareFont;
  src: url(../public/fonts/PostGrotesk-Book.ttf);
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: enercareFont, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.accordion-button:not(.collapsed) {
  background-color: #ffffff
}


.border-below {
  border-bottom: 1px solid #B3B1B1;
}


.section-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}


.rounded-button {
  border-radius: 30px;
}

.square-button {
  border-radius: 0px;
}


.card-image-width-50 {
  max-width: 50px;
  max-height: 50px;
}

.section-bg-faint {
  background-color: #F5F2F2;

}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}